.gambar-bg{
    background-image: url(/FunTour/assets/latar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    filter: blur(4px);
    height: 100%;
    width: 100%;
    z-index: -1; 
    
   
}
.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
    height: calc(2rem + calc(var(--bs-border-width) * 2));
    min-height: calc(2rem + calc(var(--bs-border-width) * 2));
    line-height: 1;
}
.form-floating>label {
    padding: .5rem;
}
.font-kecil{
    font-size: 13px;
}
